.home {
  display: flex;
  background-color: rgba(128, 128, 128, 0.479);
  backdrop-filter: blur(10px);
}

.start-info {
  font-size: 40px;
  margin: auto;
}

.start-info :nth-child(odd) {
  color: white;
}
.start-info :nth-child(even) {
  color: black;
}
