form {
  background-color: #fed230;
  color: rgb(0, 0, 0);
  width: 400px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
}

.form-login {
  height: 150px;
}

input {
  width: 100%;
  background-color: #007c67;
  border: none;
  border-radius: 20px;
  margin-bottom: 3px;
  color: white;
  padding: 2px;
  font-size: 17px;
}

.family-form {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 800px;
}

.family-form fieldset:first-child {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-around;
}

select {
  margin: 10px;
}

fieldset {
  border-radius: 20px;
}

.register-info {
  font-size: xx-large;
  color: #fed230;
  margin: auto;
  min-width: 300px;
}

.register-info a {
  text-decoration: none;
  color: #fed230;
}

.register-info a:hover {
  color: black;
}

button {
  cursor: pointer;
  background-color: #fed230;
  font-weight: bold;
  border-radius: 20px;
}

.error-form {
  background-color: black;
  color: red;
  width: 600px;
}
