.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.788);
}

.footer li {
  list-style: none;
  display: inline;
  padding: 20px;
  cursor: pointer;
}
