#adminpanel {
  display: flex;
  flex-direction: row;
}

.players-admin-container {
  background-color: grey;
  width: 450px;
  height: 80%;
  overflow: scroll;
  text-transform: capitalize;
}

.players-admin-container :nth-child(odd) {
  background-color: #fed230;
}

.scouts-admin-container {
  background-color: grey;
  width: 450px;
  height: 80%;
  overflow: scroll;
  text-transform: capitalize;
}
.scouts-admin-container :nth-child(odd) {
  background-color: #fed230;
}
