.contract-card {
    display: flex;
    border: 1px solid #fed230;
    width: 250px;
    height: 200px;
    margin: auto;
    background-color: #fed230;
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    text-transform: capitalize;
    box-shadow: 1px 1px 10px black;
    justify-content: space-around;
    align-items: center;
}

.contract-player-info {
    line-height: 8px;
    margin-left: 5px;
}

.contract-info {
    margin-top: 10px;
    display: inline;
    line-height: 3px;
}

.card-contract-info {
    display: flex;
}