.contract-info-container {
  background-color: #fed230;
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  text-transform: capitalize;
  box-shadow: 1px 1px 10px black;
  justify-content: space-evenly;
  font-size: 25px;
  flex-direction: column;
}

.contract-info-contract {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
