.contratos-jugador-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:80%;
    height: 250px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    overflow: scroll;
    backdrop-filter: blur(10px);
    border: 4px solid #fed230;
    border-radius: 20px;
    justify-content:center;
    box-shadow: 1px 1px 10px black;

}
