.fav-scout-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 340px;
  width: 80%;
  padding: 5px;
  margin: auto;
  overflow: scroll;
  backdrop-filter: blur(10px);
  border: 4px solid #fed230;
  border-radius: 20px;
  justify-content: center;
}

.fav-scout-profile a {
  text-decoration: none;
  color: black;
}
