.player-card-profile-container {
  margin: auto;
  margin-top: 60px;
  width: 800px;
  height: 600px;
  background-color: #fed230;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 25px;
  box-shadow: 1px 1px 10px black;
  justify-content: space-evenly;
}

.image-profile-card {
  width: 240px;
  height: 300px;
  border-radius: 10%;
  margin-left: 20px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
}

.card-profile-player-info {
  font-size: 30px;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.card-profile-video-container {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  font-size: 10px;
  height: 125px;
  margin-left: 40px;
}

.card-profile-video-container p {
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 20px;
}

.boton-contrato {
  margin: auto;
}

.video-jugador-link-profile img {
  width: 120px;
  height: 100px;
  border-radius: 20px;
}

.botonera-perfil button {
  font-size: 20px;
}

.boton-fav {
  background-color: black;
  color: #fed230;
  margin-left: 20px;
}
