.aside {
  width: 240px;
  background-color: #fed230;
  position: absolute;
  bottom: 0px;
  top: 0px;
  text-transform: capitalize;
  padding: 5px;
}

.avatar {
  margin: auto;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}

.datos-personales {
  margin-top: 10px;
}

.datos-personales p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile {
  position: relative;
  flex-grow: 1;
}

.profile > div:first-of-type {
  padding: 20px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
