.videos-jugador-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fed230;
  height: 320px;
  width: 80%;
  padding: 10px;
  margin: auto;
  overflow: scroll;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 1px 1px 10px black;
}

.video-jugador-link img {
  width: 240px;
  height: 200px;
  border-radius: 20px;
}

.videos-jugador-profile button {
  width: 240px;
  height: 200px;
  margin-top: 6px;
  font-size: 160px;
  border-radius: 20px;
}

.videos-jugador-profile p {
  width: 240px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 20px;
}

.boton-añadir-video {
  background-color: rgb(177, 177, 177);
}

#boton-eliminar-video {
  width: 22px;
  height: 22px;
  font-size: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: red;
}

.video-jugador-button {
  height: 22px;
  text-transform: uppercase;
  margin-top: -14px;
  margin-bottom: 14px;
}
