.App {
  text-align: center;
  background-color: #007c67;
  height: 100%;
  font-family: montserrat;
  background-image: url(./imagenes/futbol_01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
