.header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.356);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-transform: capitalize;
}

.logo-container {
  background-image: url("/src/imagenes/logo_negro_amarillo.png");
  width: 300px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  padding: 20px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  margin-right: 20px;
  font-size: x-large;
}

.login {
  background-color: #fed230;
  font-weight: bold;
  border-radius: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.logout {
  background-color: #fed230;
  font-weight: bold;
  border-radius: 20px;
}

#form-header {
  background-color: grey;
}

.nav a:hover {
  color: #fed230;
}

.nav a.active {
  color: #fed230;
}

.nav a.active div {
  border: 3px solid #fed230;
  border-radius: 50%;
}

.user {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: grey;
  transition: all 0.
}
