* {
  box-sizing: border-box;
}

.players {
  display: flex;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
  overflow: scroll;
  height: 650px;
  justify-content: center;
}

.player-container a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

.player-card {
  background-color: #fed230;
  width: 300px;
  height: 300px;
  display: flex;
  border: 1px solid white;
  margin: 10px 10px 10px 10px;
  border-radius: 10%;
  flex-direction: column;
  text-transform: capitalize;
  box-shadow: 1px 1px 10px black;
  justify-content: space-between;
}

.player-card-info {
  display: flex;
  justify-content: space-around;
}

.image {
  width: 80px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10%;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px black;
}

.datos-jugador p {
  display: inline;
  margin: 0 5px;
}

.videos-jugador {
  text-align: left;
  height: 120px;
  text-align: center;
}

.image-video img {
  width: 70px;
  height: 50px;
  margin: 0 7px;
  box-shadow: 1px 1px 5px black;
}

.searchform {
  color: black;
  height: 380px;
  min-width: 200px;
  max-width: 220px;
  margin-left: 30px;
  margin-right: 30px;
}

.searchform input {
  margin-bottom: 10px;
  color: white;
}

.searchform select {
  margin-bottom: 10px;
  width: 100%;
  background-color: #007c67;
  border-radius: 10px;
  margin-left: 0px;
}

::placeholder {
  color: black;
}
