.botonera-video {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px;
}

.botonera-video button {
  font-size: 20px;
  background-color: white;
}

.botonera-video a {
  text-decoration: none;
  color: white;
}
