.video-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.video-activo iframe {
  width: 800px;
  height: 600px;
}

.video-list {
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0px 20px;
  background-color: #fed230;
  /* line-height: 11px; */
  cursor: pointer;
  box-shadow: 1px 1px 10px black;
}

.videopreview {
  text-decoration: none;
  color: black;
}

.video-list img {
  width: 80px;
  height: 60px;
}

.video-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 250px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.video-link p {
  width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favorito-botonera {
  color: #fed230;
}

.info-videolist p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
